body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* global css */

* {
  /* 
    in be in dalile ke padding ya margin ro ham jozvi az arz hesab beshe
  */
  box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
  /* baraye az bein bordan pishfarz tag 'ul' bayad gozashte beshe */
  list-style: none;
}

.container {
  padding: 0 40px;
}

/* 
  dar inja chon ma baraye component 'Navbar' safhe bandi darim va az tag 'Link' estefade kardim miad baramun amalan tag 'a' misaze
  ke bayad be surat default khat zir link va rang ro siah konim
*/
a {
  color: #333;
  text-decoration: none;
}